<div class="container-fluid">
  <div class="header text-center">
    <h1> Welcome to The Mixology Room </h1>
    <h2> Find the perfect cocktail for you <h2>
  </div>

  <div class="body">
    <div class="row justify-content-center">
      <div class="col-sm-8 my-3">
        <%= form_with url: cocktails_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Type a cocktail"
            %>
          <%= submit_tag "Search", name: "", class: "nav-button" %>
        <% end %>
      </div>
    </div>

    <div id="myCarousel" class="carousel slide d-flex" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% @cocktails.each_with_index do |cocktail, index| %>
          <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
            <div class="cocktail-card col-sm-8 mx-auto">
              <img src="<%= cocktail.image_url %>" alt="<%= cocktail.name %>">
              <h3><%= cocktail.name %></h3>
              <p><%= cocktail.alcoholic %></p>
              <%= link_to "See the recipe", cocktail_path(cocktail) %>
            </div>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
